{% extends "maxproductos/base.html" %}

{% block title %} Max Productos {% endblock %}

{% block content %}
<div class="row">
    {% for it in objproducto %}
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ it.nombre }}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="agregarCarrito({{it}})" class="btn btn-primary">Agregar al carrito</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<a href="iniciarSesion"> iniciar sesion</a>



{% endblock content %}